@import 'variables';
@import 'extensions';

.portfolio {
  @extend %section;
  text-align: center;
  background-color: $grayBG;
  &__item {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  a {
    margin-top: 45px;
    color: $black;
    font-family: $mediumFont;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  img {
    width: 100%;
  }
}
@media (max-width: 710px) {
  .portfolio {
    &__item {
      margin-bottom: 77px;
    }
  }
}
